*#
.#*
*~
_site/
*/src/META-INF/
*/src/main/java/META-INF/
samples/*/*/src/main/webapp/META-INF/
build/
target/
bin/
.classpath
.project
.DS_Store
.settings/
.springBeans
*.iml
*.iws
*.ipr
.idea/
./code/
cargo-installs/
atlassian-ide-plugin.xml
