<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<oauth2:resource id="resource" client-id="my-trusted-client" type="authorization_code"
		user-authorization-uri="${oauth.authorize:http://localhost:8080/oauth/authorize}"
		access-token-uri="${oauth.token:http://localhost:8080/oauth/token}" />

	<oauth2:rest-template id="restTemplate" resource="resource" />

</beans>
