<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:oauth="http://spring-security-oauth.codehaus.org/oauth2/1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
              http://spring-security-oauth.codehaus.org/oauth2/1.0 http://spring-security-oauth.codehaus.org/schema/spring-security-oauth2-1.0.xsd">

  <beans:bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <beans:property name="location" value="/WEB-INF/sparklr.properties"/>
  </beans:bean>

  <http auto-config='true' access-denied-page="/login.jsp">
    <intercept-url pattern="/sparklr/**" access="ROLE_USER" />
    <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

    <form-login authentication-failure-url="/login.jsp" default-target-url="/index.jsp" login-page="/login.jsp" login-processing-url="/login.do"/>
    <logout logout-success-url="/index.jsp" logout-url="/logout.do"/>
  </http>

  <authentication-manager>
    <authentication-provider>
      <user-service>
        <user name="marissa" password="wombat" authorities="ROLE_USER" />
        <user name="sam" password="kangaroo" authorities="ROLE_USER" />
      </user-service>
    </authentication-provider>
  </authentication-manager>

  <!--apply the oauth client context-->
  <oauth:client />

  <!--define an oauth 2 resource-->
  <oauth:resource id="sparklr" type="web-server" clientId="tonr"
                  accessTokenUri="http://localhost:8080/sparklr2/oauth/authorize"
                  userAuthorizationUri="http://localhost:8080/sparklr2/oauth/user/authorize"/>
</beans:beans>
